* {
	margin: 0;
	padding: 0;
}
table {
	width: 800px;
	margin: 0 auto;
	border-collapse: collapse;
	text-align: center;
	margin-top: 20px;
	line-height: 40px;
}
table, tr, th, td {
	border: 1px solid black;