* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: silver;
}

.logo {
	border: 1px solid red;
	height: 100px;
	width: 20%;
	float: left;
	text-align: center;
	line-height: 100px;
}
.banner {
	border: 1px solid red;
	height: 100px;
	width: 80%;
	float: left;
	text-align: center;
	line-height: 100px;
}
.slider {
	border: 1px solid red;
	height: 100px;
	width: 100%;
	text-align: center;
	line-height: 100px;
	float: left;
}
.news1 {
	border: 1px solid red;
	height: 300px;
	width: 50%;
	float: left;
	text-align: center;
	line-height: 300px;
}
.news2 {
	border: 1px solid red;
	height: 300px;
	width: 50%;
	float: left;
	text-align: center;
	line-height: 300px;
}
.footer1 {
	border: 1px solid red;
	height: 100px;
	width: 100%;
	text-align: center;
	line-height: 100px;
	float: left;
}
.footer2 {
	border: 1px solid red;
	height: 100px;
	width: 100%;
	text-align: center;
	line-height: 100px;
	float: left;
}

@media screen and (max-width: 1280px) {
	body {
		background-color: green;
	}

}
@media screen and (max-width: 768px) {
	body {
		background-color: blue;
	}
	.logo, .banner {
		width: 100%;
	}
	.news1, .news2 {
		width: 50%;
		height: 100px;
		line-height: 100px;
	}
	.slider {
		display: none;
	}
	.footer1, .footer2 {
		width: 50%;
		float: left;
	}
}
@media screen and (max-width: 480px) {
	body {
		background-color: yellow;
	}
	.logo, .news1, .news2, .footer1 {
		width: 100%;
	}
	.slider {
		display: block;
		width: 100%;
	}
	.banner, .footer2 {
		display: none;
	}
}