* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: auto;
	width: 600px;
	border: 1px solid gray;
	text-align: center;

}
.box1, .box2, .box3, .box4 {
	margin: 20px;
	height: 100px;
	width: 258px;
	float: left;
	border: 1px solid gray;
	line-height: 98px;
	background-color: #CC99FF;
}
.box5 {
	clear: left;
	height: 300px;
	border: 1px solid gray;
	background-color: #00FFFF;

}