h1 {
	color: red;
}
p {
	color: green;
}
h2 {
	color: yellow;
}
.myname {
	color: blue;
	font-size: 20px;
	font-weight: bold;
}
#shop {
	color: black;
	font-size: 30px;
}
.my-profile .myname {
	font-size: 40px;
}
.text-1, .text-2 {
	font-size: 35px !important;
}