@font-face {
	font-family: "myTestFont";
	src: url(../font/GreatVibes-Regular.otf);
}
.welcome1 {
	font-family: "myTestFont";
	font-size: 50px;
}
.welcome {
	font-family: "myTestFont";
	font-size: 50px;
	height: 200px;
	border: 1px solid green;
	text-align: center;
	line-height: 200px;
}
.demo1 {
	text-transform: uppercase;
	/*viết hoa*/
	text-transform: lowercase;
	/*viết thường*/
}
.demo2 {
	color: red;
	font-size: 30px;
	text-decoration: line-through;
	/*underline: gạch dưới; overline: gạch trên*/
}
.demo3 {
	color: green;
	font-size: 50px;
	font-weight: bold;
	text-shadow: 2px 1px 1px gray;
}